/* Page background */
.pageBg {
  background: #fff;
  height: 50px;
  width: 100%;
}

/* Navbar */
.navbar {
  position: fixed;
  z-index: 200;
  /* top: 20px; */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #fff;
  backdrop-filter: blur(10px);
  border-radius: 40px;
  /* padding: 12px 32px; */

  display: flex;
  align-items: center;
  justify-content:space-between;

  transition: all 0.4s ease;
}

.navbarScrolled {
  width: 85%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 88px;
}

.logoImg {
  margin-left: 20px;
  width: 140px;
  height: 40px;
  /* display: block; */
}

.logoText {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

.logoHighlight {
  color: #2563eb;
}

/* Menu */
.menu {
  list-style: none;
  display: flex;
  gap: 32px;
  color: #374151;
  font-weight: 500;
}

.menu li {
  cursor: pointer;
  transition: color 0.3s;
}

.menu li:hover {
  color: #2563eb;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 12px;
}

.loginBtn {
  padding: 12px 38px;
  border-radius: 18px 18px 18px 0px;
  border: 1px solid #2180A8 ;
  background: transparent;
  color: #374151;
  cursor: pointer;
  transition: background 0.3s;
}

.loginBtn:hover {
  background: #f3f4f6;
}

.registerBtn {
  padding: 12px 38px;
  border-radius: 18px 18px 18px 0px;
  border: none;
  background: #2180A8;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;
  margin-right: 10px;
}

.registerBtn:hover {
  opacity: 0.9;
}
.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
}
